.header-left {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-icon {
  color: #36a15d;
}


