<footer>
  <mat-nav-list class="nav-buttons-actions">
    <mat-list-item>
      <a routerLink="/" mat-button class="home-button">
        <mat-icon style="color: #95918f">home</mat-icon>
        <p>Home</p>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/search" mat-button class="search-button">
        <mat-icon style="color: #95918f">search</mat-icon>
        <p>Search</p>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/favorites" mat-button class="favorite-button">
        <mat-icon style="color: #95918f">favorite</mat-icon>
        <p>Favorites</p>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/plan" mat-button class="calendar-button">
        <mat-icon style="color: #95918f">calendar_today</mat-icon>
        <p>Plan</p>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/shop-list" class="shopping-button">
        <mat-icon style="color: #95918f">shopping_cart</mat-icon>
        <p>Shopping List</p>
      </a>
    </mat-list-item>
  </mat-nav-list>
</footer>
