/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f3f1ed;
}
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
  border-style: none !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-left: 30px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
  border-color: #e5e2dc !important;
}
