/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f3f1ed;
}
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before {
  border-style: none !important;
}

.mat-mdc-form-field-infix {
  padding: 0 !important;
}
