.shopping-list-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.qty-button {
  background-color: #36a15d;
  flex: 1;
}

mat-icon {
  color: aliceblue;
}

.search-input {
  flex: 8;
}

.qty-input {
  flex: 2;
}